.card-footer btn {
    background-color: #ff136f;
}

.bgs {
    background-color: #FEEAE9;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: 0;
}